<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CadastrarProduto</servlet-name>
        <servlet-class>servelet.CadastrarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProduto</servlet-name>
        <servlet-class>servelet.ListarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarProduto</servlet-name>
        <servlet-class>servelet.AlterarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtivarProduto</servlet-name>
        <servlet-class>servelet.AtivarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUsuario</servlet-name>
        <servlet-class>servelet.LoginUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaginaPrincipal</servlet-name>
        <servlet-class>servelet.PaginaPrincipal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarProduto</servlet-name>
        <url-pattern>/CadastrarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProduto</servlet-name>
        <url-pattern>/ListarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarProduto</servlet-name>
        <url-pattern>/AlterarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtivarProduto</servlet-name>
        <url-pattern>/AtivarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUsuario</servlet-name>
        <url-pattern>/LoginUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaginaPrincipal</servlet-name>
        <url-pattern>/PaginaPrincipal</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
