<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CadastrarProduto</servlet-name>
        <servlet-class>servelet.CadastrarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProduto</servlet-name>
        <servlet-class>servelet.ListarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarProduto</servlet-name>
        <servlet-class>servelet.AlterarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtivarProduto</servlet-name>
        <servlet-class>servelet.AtivarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUsuario</servlet-name>
        <servlet-class>servelet.LoginUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaginaPrincipal</servlet-name>
        <servlet-class>servelet.PaginaPrincipal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarImagem</servlet-name>
        <servlet-class>servelet.CadastrarImagem</servlet-class>
        <multipart-config>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>CadastrarUsuario</servlet-name>
        <servlet-class>servelet.CadastrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarFuncionario</servlet-name>
        <servlet-class>servelet.ListarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarFuncionario</servlet-name>
        <servlet-class>servelet.AlterarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtivarFuncionario</servlet-name>
        <servlet-class>servelet.AtivarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginFuncionario</servlet-name>
        <servlet-class>servelet.LoginFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarComprador</servlet-name>
        <servlet-class>servelet.CadastrarComprador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>alterarComprador</servlet-name>
        <servlet-class>servelet.alterarComprador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarComprador</servlet-name>
        <servlet-class>servelet.AlterarComprador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarEEntrega</servlet-name>
        <servlet-class>servelet.CadastrarEEntrega</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizarProduto</servlet-name>
        <servlet-class>servelet.VisualizarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaginaPrincipalLogado</servlet-name>
        <servlet-class>servelet.PaginaPrincipalLogado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarProduto</servlet-name>
        <url-pattern>/CadastrarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProduto</servlet-name>
        <url-pattern>/ListarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarProduto</servlet-name>
        <url-pattern>/AlterarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtivarProduto</servlet-name>
        <url-pattern>/AtivarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUsuario</servlet-name>
        <url-pattern>/LoginUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaginaPrincipal</servlet-name>
        <url-pattern>/PaginaPrincipal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarImagem</servlet-name>
        <url-pattern>/CadastrarImagem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarUsuario</servlet-name>
        <url-pattern>/CadastrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarFuncionario</servlet-name>
        <url-pattern>/ListarFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarFuncionario</servlet-name>
        <url-pattern>/AlterarFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtivarFuncionario</servlet-name>
        <url-pattern>/AtivarFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginFuncionario</servlet-name>
        <url-pattern>/LoginFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarComprador</servlet-name>
        <url-pattern>/CadastrarComprador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>alterarComprador</servlet-name>
        <url-pattern>/alterarComprador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarComprador</servlet-name>
        <url-pattern>/AlterarComprador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarEEntrega</servlet-name>
        <url-pattern>/CadastrarEEntrega</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizarProduto</servlet-name>
        <url-pattern>/VisualizarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaginaPrincipalLogado</servlet-name>
        <url-pattern>/PaginaPrincipalLogado</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
